
.formLogin {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 5%;
    height: 54%;
    width: 40%;
    background-color: #E6E0F2;
}

.divNameSchool {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--morado-f-color);
    padding: 2% 2% 2% 2% ;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
}

.nameSchool {
    color: var(--white);
    font-size: 200%;
    font-weight: bold;
} 
    
.formLogin .titleLogin {
    display: flex;
    justify-content: center;
    color: var(--morado-f-color);
    margin-top: .5em;
}

.formLogin .titleLogin h1 {
    border-bottom: 1px solid #C6C4C4 ;
    padding-bottom: 1em;
    width: 70%;
    text-align: center;
    font-size: 150%;
    font-weight: bold;
}
 
.containerForm {
    margin-top: 13%;
    margin-bottom: 22%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.divButtonSession{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* border: 1px solid; */
    height: max-content;
}

.divButtonSession a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2% 2% 2% 2%; 
    margin-bottom: 0em;
    margin-top: 1em;
    width: 41%;
    background-color: var(--bg-btn);
    border-radius: .3em;
    box-shadow: 2px 6px var(--light-grey);
}


.pButton {
    color: var(--white);
    margin-top: 6em;
    padding: 4%;
    font-weight: 500;
    background-color: var(--bg-btn);
    cursor: pointer;
    width: 18em;
    border-radius: 0.5rem;
    border: none;
    font-family: 'Inter';
}

.pButton:active {
    background-color: var(--light-blue);
    
}


.ringsLoader{
    width: 10%;
    margin-left: auto;
    margin-right: auto;
}


.containerEmail {
   
   display: flex;
    width: 100%;
    flex-direction: column;

}

.email{

    margin-bottom: -4%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-bottom: .2%;
    padding-top: 2%;
    background-color: #E6E0F2;
    width: 50%;

}

input:focus {
    background-color: #E6E0F2;

}

.divEmail {
   display: flex;
   width: 50%;
   align-items: flex-end;
   margin-left: 71%;
   margin-bottom: 6%;

}

/* .containerPassword {
    position: relative;
    display: flex;
    justify-content: center;
    width: 2em;

} */

.password {
    margin-bottom: -8%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-bottom: 1.2%;
    padding-top: 2%;
    background-color: #E6E0F2;
    height: 100%;
    width: 100%;
} 

/* .iconEmail {
    position: absolute;
    width: 20px;
    height: 16px;
    left: 58%;
    top: 46%;
    transform: translateY(-50%);
 } */

 /* .iconPasswordUno {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 58%;
    top: 52%;
    transform: translateY(-50%);
 } */
.divPass{
    display: flex;
    justify-content: flex-end;
    width: 50%;
    margin-left: 48%;
}


.containerPass {
    display: flex;
    width: 50%;
    flex-direction: column;
    margin-left: 25%;
}
 .containerE {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

 }

.error {
    color: red;
    font-family: 'Inter';
}