.users-container {
  width: 100%;
  display: flex;
  
}

.sol-users{
    width: 100%;
    margin: 10px;
}

@media (max-width: 710.98px) {
  .enabledContainer {
    display: none;
}

  .minimunWidth {
    width: 20%;
  }
}
