
.containerSideBar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 25%;
}

.school {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    background-color: var(--morado-f-color);
}

.school p{
    color: #fff;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 9rem;
    background-color: var(--light-blue-strong);
}

.user h3 {
    color: #fff;
    margin-top: .5rem;
}

.containerRoutes {
    background-color: var(--light-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.routes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1.5rem;
    width: 100%;
}

.route {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: .5rem;
}

.route img {
    width: 1.8rem;
}

.route p {
    font-weight: 600;
    margin-left: .5rem;
}

.editNavLink {
    text-decoration: none;
    margin-left: 5%;
}

.containerBtnClose {
    display: flex;
    justify-self: center;
    cursor: pointer;
    text-decoration: none;
}

.btnClose {
    display: flex;
    width: 12rem;
    align-items: center;
    justify-content: flex-start;
    padding: .5rem;
    background-color: var(--bg-btn);
    border-radius: 5px;
    margin-top: 1rem;
}

.btnClose:hover {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.35);
}

.btnClose p{
    margin-left: 1.5rem;
    color: var(--white);
}

@media (max-width: 576px) {

    .containerSideBar {
        width: 90%;
    }

    .school p{
        position: relative;
        left: 30%;
    }

   .btnCloseSideBar {
    margin-left: 55%;
    color: #fff;
    font-size: 1.2rem;
   }

   .disabledSB {
    display: none;
   }

}

@media (min-width: 577px) and (max-width: 1920px) {

    .btnCloseSideBar {
        display: none;
    }
}