.allusers-datadable {
  width: 100%;
  background-color: #f4f4f4;
}

.allusers-thead {
  border-bottom: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  height: 40px;
  font-weight: bold;
  line-height: 40px;
}

.allusers-thead:last-child {
  border-right: none;
}

.allusers-tbody {
  text-align: center;
  border-bottom: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  height: 50px;
  line-height: 50px;
}

.allusers-tbody2 {
  text-align: center;
  border-bottom: 1px solid #dfdfdf;
  line-height: 50px;
}
.correo {
  background-color: grey;
}

.modal {
    border: #4A4751 solid 0.3px;
  height: 300px;
  width: 500px;
  background-color: #dfdfdf;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.modal-form{
    display: flex;
    flex-direction: column;

}

.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.inputsForm {
    
    border: 2px solid #4A4751;
    border-radius: .5em;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    height: 2em;
    

}

.inputsForm:focus {
    background-color: var(--white);    

}

.btnSave{
    width: 12.5em;
    height: 2.2em;
    border-radius: .3em;
    border: 2px solid var(--bg-btn);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.35);
    background-color: var(--bg-btn);
    color: var(--white);



}

.btnReset {
    width: 12.5em;
    height: 2.2em;
    border: 2px solid var(--bg-btn);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.35);
    border-radius: .3em;
    background-color: var(--white);
    color: var(--bg-btn);
    margin-left: 3em;
}

.title {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}