.usersAll-nav{
display: flex;
justify-content: start;
align-items: center;

width: 100%;
height: 40px;
background-color: #DFDFDF
}

.userAll-btn{
background-color: #E8E8E8;
height: 40px;
line-height: 40px;
padding: 0 10px;
}